.btn {
  margin: 4px 0;
  padding: 8px 12px;
  border: 1px solid rgba($color-black, .3);
  filter: $drop-shadow-small;
  transition: all .2s ease-in-out;
  font-weight: $font-weight-semibold;
  cursor: pointer;
  user-select: none;
  
  &:hover:not(.btn--no-scale) {
    transform: scale(1.1);
  }
  
  &--grouped {    
    .btn:first-child {
      margin-right: 16px;
    }
  }
  
  &--primary {
    background-color: $color-primary;
    
    &:hover {
      background-color: rgba($color-primary, .5);
    }
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: rgba($color-secondary, .5);
    }
  }

  &--inline {
    background-color: transparent;
    border: none;
  }
  
  &--game {
    background-color: $color-secondary;
    border-radius: 50%;
    border: 4px solid rgba($color-accent, .4);
    width: 72px;
    height: 72px;
    font-size: 24px;

    &:hover {
      background-color: rgba($color-secondary, .5);
    }
    
    @include media-breakpoint-up(md) {
      width: 128px;
      height: 128px;
      font-size: 48px;
    }
  }
}