@include keyframes(rotate) {
  100%   {transform: rotate(360deg)}
}

@include keyframes(prixClipFix) {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@include keyframes(fadeExpand) {
  0% {
    opacity: 0.7;
    transform: scaleY(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
